@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #e7e1d6;
    background-color: rgb(24, 24, 24);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  #root {
    min-height: 100vh;
  }
}

@layer components {
  .tiptap {
    height: 100%;
    outline: none;
  }

  .tiptap > * + * {
    margin-top: 0.75rem;
  }

  .tiptap h1,
  .tiptap h2,
  .tiptap h3 {
    scroll-margin-top: 80px;
  }
}
